{{page-title this.title}}

<div class="au-o-grid au-o-grid--flush au-o-grid--fixed">
  <div
    class="au-o-grid__item
           {{if
             this.hasActiveChildRoute
             'au-u-3-5@medium au-u-visible-medium-up'
             'au-u-1-1@medium'
           }}"
  >
    <div class="au-c-body-container" tabindex="0">
      <AuToolbar @size="large" as |Group|>
        <Group>
          <AuHeading @skin="2">{{this.title}}</AuHeading>
        </Group>
        <Group>
          <AuLink
            @route="besluiten-extractions.new"
            @icon="add"
            @skin="button"
          >
            Trigger nieuwe Annotatie-activiteit
          </AuLink>
        </Group>
      </AuToolbar>


      <AuTable @size="large">
        <:header>
        <tr>
          <th>Annotatie-activiteit id</th>
          <th>Annotatie-activiteit creatie</th>
          <th>Annotatie-activiteit status</th>

          <th>Aanduidingsobject</th>
          <th>Besluit</th>
          <th>Details</th>
        </tr>
        </:header>
        <:body>
        {{#each this.model as |job|}}
          <tr>
            <td>{{job.id}}</td>
            <td>{{job.created}}</td>
            <td>{{job.status}}</td>
            <td>
              <AuLinkExternal href="{{job.source.uri}}">{{job.source.id}}</AuLinkExternal>
            </td>
            <td>
              <AuLinkExternal href="{{job.source.besluiten.firstObject.uri}}">{{job.source.besluiten.firstObject.titel}}</AuLinkExternal>
            </td>
            <td>
              <AuLink @route="besluiten-extractions.detail" @model="{{job.source.besluiten.firstObject.uri}}">details</AuLink>
            </td>
          </tr>
        {{/each}}
        </:body>
      </AuTable>


    </div>
  </div>
  {{outlet}}
</div>
